name: profile_image_cropper
description: "A simple profile image cropper package for Flutter"
version: 1.0.0
homepage: https://github.com/ArmanKT/profile_image_cropper
repository: https://github.com/ArmanKT/profile_image_cropper

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:
